<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAirportService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/AirportManager/AiportService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAirportService"
                contract="IAirportService" name="WSHttpBinding_IAirportService">
                <identity>
                    <userPrincipalName value="CYBERDOM2\anwyr1" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>